---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "00:00"
      timezone: "Asia/Shanghai"
    open-pull-requests-limit: 10
    target-branch: "release"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directories:
      - "/ldnmp/nginx"
      - "/ldnmp/openresty/edge"
      - "/ldnmp/openresty/stable"
    schedule:
      interval: "daily"
      time: "00:00"
      timezone: "Asia/Shanghai"
    open-pull-requests-limit: 10
    target-branch: "release"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      docker:
        patterns:
          - "*"
