---
name: 'Build and Publish Caddy'

on:
  schedule:
    - cron: '0 16 * * 3,6'
  workflow_dispatch:

env:
  DOCKER_USERNAME: ${{ github.repository_owner }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

jobs:
  build_stable:
    name: 'Build and Publish Stable Caddy'
    runs-on: ubuntu-latest

    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: 'Fetch Versions and Determine Build'
        run: |
          CADDY_STABLE_LVER="$(wget -qO- --tries=5 "https://api.github.com/repos/caddyserver/caddy/releases/latest" | awk -F '["v]' '/tag_name/{print $5}')"
          CADDY_STABLE_CVER="$(wget -qO- --tries=5 "https://hub.docker.com/v2/repositories/honeok/caddy/tags" 2>/dev/null | \
            jq -r ".results // [] | .[].name" | grep -Ev 'alpine|beta' | sort -Vr | head -n1 || echo "")"
          [ -z "$CADDY_STABLE_LVER" ] && { echo 'Error: Required parameters cannot be empty.'; exit 1; }
          CADDY_ALPINE_LVER="$(docker run --rm caddy:"${CADDY_STABLE_LVER}"-alpine 2>/dev/null sh -c "caddy version 2>&1" | head -n1 | cut -d' ' -f1 | sed 's/^v//' | grep . || echo "")"
          echo "CADDY_STABLE_LVER=$CADDY_STABLE_LVER" >> $GITHUB_ENV
          echo "CADDY_STABLE_CVER=$CADDY_STABLE_CVER" >> $GITHUB_ENV
          if [[ ( "$(echo -e "$CADDY_STABLE_LVER\n$CADDY_STABLE_CVER" | sort -V | head -n1)" != "$CADDY_STABLE_LVER" && "$CADDY_ALPINE_LVER" == "$CADDY_STABLE_LVER" ) || ( -z "$CADDY_STABLE_CVER" && -n "$CADDY_ALPINE_LVER" ) ]]; then
            echo "IS_RENEW=1" >> $GITHUB_ENV
          fi

      - name: 'Set up Docker QEMU'
        if: env.IS_RENEW == 1 || github.event_name == 'workflow_dispatch'
        uses: docker/setup-qemu-action@v3

      - name: 'Set up Docker Buildx'
        if: env.IS_RENEW == 1 || github.event_name == 'workflow_dispatch'
        uses: docker/setup-buildx-action@v3

      - name: 'Login to DockerHub'
        if: env.IS_RENEW == 1 || github.event_name == 'workflow_dispatch'
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: 'Build and Push Caddy image'
        if: env.IS_RENEW == 1 || github.event_name == 'workflow_dispatch'
        uses: docker/build-push-action@v6
        with:
          context: ${{ github.workspace }}/ldnmp/caddy
          file: ${{ github.workspace }}/ldnmp/caddy/Dockerfile
          platforms: linux/amd64, linux/arm/v6, linux/arm/v7, linux/arm64/v8, linux/ppc64le, linux/riscv64, linux/s390x
          build-args: CADDY_LVER=${{ env.CADDY_STABLE_LVER }}
          tags: |
            ${{ env.DOCKER_USERNAME }}/caddy:${{ env.CADDY_STABLE_LVER }}-alpine
            ${{ env.DOCKER_USERNAME }}/caddy:${{ env.CADDY_STABLE_LVER }}
          push: true

  build_beta:
    name: 'Build and Publish Beta Caddy'
    runs-on: ubuntu-latest

    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: 'Fetch Versions and Determine Build'
        run: |
          CADDY_BETA_LVER="$(wget -qO- --tries=5 "https://api.github.com/repos/caddyserver/caddy/releases" | awk -F '"' '/tag_name/ && /beta/ {sub(/^v/, "", $4); print $4}' | sort -Vr | head -n1)"
          CADDY_BETA_CVER="$(wget -qO- --tries=5 "https://hub.docker.com/v2/repositories/honeok/caddy/tags" 2>/dev/null | \
            jq -r ".results // [] | .[].name" | grep "beta" | grep -v "alpine" | sort -Vr | head -n1 || echo "")"
          [ -z "$CADDY_BETA_LVER" ] && { echo 'Error: Required parameters cannot be empty.'; exit 1; }
          CADDY_ALPINE_LVER="$(docker run --rm caddy:"${CADDY_BETA_LVER}"-alpine 2>/dev/null sh -c "caddy version 2>&1" | head -n1 | cut -d' ' -f1 | sed 's/^v//' | grep . || echo "")"
          echo "CADDY_BETA_LVER=$CADDY_BETA_LVER" >> $GITHUB_ENV
          echo "CADDY_BETA_CVER=$CADDY_BETA_CVER" >> $GITHUB_ENV
          if [[ ( "$(echo -e "$CADDY_BETA_LVER\n$CADDY_BETA_CVER" | sort -V | head -n1)" != "$CADDY_BETA_LVER" && "$CADDY_ALPINE_LVER" == "$CADDY_BETA_LVER" ) || ( -z "$CADDY_BETA_CVER" && -n "$CADDY_ALPINE_LVER" ) ]]; then
            echo "IS_RENEW=1" >> $GITHUB_ENV
          fi

      - name: 'Set up Docker QEMU'
        if: env.IS_RENEW == 1
        uses: docker/setup-qemu-action@v3

      - name: 'Set up Docker Buildx'
        if: env.IS_RENEW == 1
        uses: docker/setup-buildx-action@v3

      - name: 'Login to DockerHub'
        if: env.IS_RENEW == 1
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: 'Build and Push Caddy image'
        if: env.IS_RENEW == 1
        uses: docker/build-push-action@v6
        with:
          context: ${{ github.workspace }}/ldnmp/caddy
          file: ${{ github.workspace }}/ldnmp/caddy/Dockerfile
          platforms: linux/amd64, linux/arm/v6, linux/arm/v7, linux/arm64/v8, linux/ppc64le, linux/riscv64, linux/s390x
          build-args: CADDY_LVER=${{ env.CADDY_BETA_LVER }}
          tags: |
            ${{ env.DOCKER_USERNAME }}/caddy:${{ env.CADDY_BETA_LVER }}-alpine
            ${{ env.DOCKER_USERNAME }}/caddy:${{ env.CADDY_BETA_LVER }}
          push: true