---
name: 'Build and Publish Ipinfo'

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build:
    name: 'Build and Publish Ipinfo'
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      DOCKER_USERNAME: ${{ github.repository_owner }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: 'Fetch Versions and Determine Build'
        run: |
          NGX_LVER="$(wget -qO- --tries=50 --header="Authorization: token ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/nginx/nginx/releases/latest | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/' | sed 's/release-//')"
          NGX_ALPINE_LVER="$(docker run --rm nginx:"${NGX_LVER}-alpine" sh -c "nginx -v 2>&1 | awk -F'/' '{print \$NF}'" 2>/dev/null || true)"
          GEOIP2_TAG="$(wget -qO- --tries=50 --header="Authorization: token ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/leev/ngx_http_geoip2_module/releases/latest | grep -o '"tag_name": *"[^"]*"' | sed 's/.*"v\?\([^"]*\)".*/\1/')"
          echo "NGX_LVER=$NGX_LVER" >> $GITHUB_ENV
          echo "NGX_ALPINE_LVER=$NGX_ALPINE_LVER" >> $GITHUB_ENV
          echo "GEOIP2_TAG=$GEOIP2_TAG" >> $GITHUB_ENV
          if [[ "$NGX_LVER" == "$NGX_ALPINE_LVER" ]]; then
            echo "IS_RENEW=1" >> $GITHUB_ENV
          fi

      - name: 'Download GeoLite2 mmdb file'
        if: env.IS_RENEW == 1 || github.event_name == 'workflow_dispatch'
        run: |
          cd ${{ github.workspace }}/forge/ipinfo
          wget --tries=50 -qO GeoLite2-ASN.mmdb https://github.com/xjasonlyu/maxmind-geoip/releases/latest/download/ASN.mmdb
          wget --tries=50 -qO GeoLite2-ASN.mmdb.sha256 https://github.com/xjasonlyu/maxmind-geoip/releases/latest/download/ASN.mmdb.sha256
          sed -i 's/ASN.mmdb/GeoLite2-ASN.mmdb/g' GeoLite2-ASN.mmdb.sha256
          sha256sum -c GeoLite2-ASN.mmdb.sha256
          wget --tries=50 -qO GeoLite2-Country.mmdb https://github.com/xjasonlyu/maxmind-geoip/releases/latest/download/Country.mmdb
          wget --tries=50 -qO GeoLite2-Country.mmdb.sha256 https://github.com/xjasonlyu/maxmind-geoip/releases/latest/download/Country.mmdb.sha256
          sed -i 's/Country.mmdb/GeoLite2-Country.mmdb/g' GeoLite2-Country.mmdb.sha256
          sha256sum -c GeoLite2-Country.mmdb.sha256

      - name: 'Set up Docker QEMU'
        if: env.IS_RENEW == 1 || github.event_name == 'workflow_dispatch'
        uses: docker/setup-qemu-action@v3

      - name: 'Set up Docker Buildx'
        if: env.IS_RENEW == 1 || github.event_name == 'workflow_dispatch'
        uses: docker/setup-buildx-action@v3

      - name: 'Login to DockerHub'
        if: env.IS_RENEW == 1 || github.event_name == 'workflow_dispatch'
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: 'Build and Push ipinfo image'
        if: env.IS_RENEW == 1 || github.event_name == 'workflow_dispatch'
        uses: docker/build-push-action@v6
        with:
          context: ${{ github.workspace }}/forge/ipinfo
          file: ${{ github.workspace }}/forge/ipinfo/Dockerfile
          platforms: linux/amd64, linux/arm64/v8
          build-args: |
            NGX_VERSION=${{ env.NGX_LVER }}
            GEOIP2_TAG=${{ env.GEOIP2_TAG }}
          tags: ${{ env.DOCKER_USERNAME }}/ipinfo:latest
          push: true