name: 'Shellcheck'

on:
  push:
    branches:
      - master
      - release
      - dev
    paths:
        - '**/*.sh'
  pull_request:
    paths:
      - '**/*.sh'
  workflow_dispatch:

jobs:
  shellcheck:
    name: 'Shellcheck'
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v4.2.2
      - name: 'Run ShellCheck'
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          ignore_paths: >-
            ./docker/install-docker.sh