---
name: 'Sync Docker Install Script'

on:
  schedule:
    - cron: '0 16 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    name: 'Sync Docker Install Script'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4.2.2
        with:
          ref: release
          fetch-depth: 0

      - name: 'Download and compare install-docker.sh'
        run: |
          curl -fsSL https://get.docker.com -o install-docker.sh
          if ! cmp -s docker/install-docker.sh install-docker.sh; then
            mv -f install-docker.sh docker/install-docker.sh
            echo "IS_RENEW=1" >> $GITHUB_ENV
          else
            rm -f install-docker.sh
          fi

      - name: 'Upload commit to repository'
        uses: stefanzweifel/git-auto-commit-action@v6.0.1
        if: env.IS_RENEW == 1 || github.event_name == 'workflow_dispatch'
        with:
          commit_message: "chore: bump script version by github actions"
          branch: release