---
name: "Sync docker install script"

on:
  schedule:
    - cron: "0 16 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  sync:
    name: "Sync docker install script"
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v6
        with:
          ref: release
          fetch-depth: 0

      - name: "Download and compare"
        working-directory: ${{ github.workspace }}/container
        run: |
          curl -L -o install-docker.new https://get.docker.com
          if ! cmp -s install-docker.new install-docker.sh; then
            mv -f install-docker.new install-docker.sh
            echo "IS_RENEW=1" >> "$GITHUB_ENV"
          fi

      - name: "Upload commit to repository"
        uses: stefanzweifel/git-auto-commit-action@v7
        if: env.IS_RENEW == '1'
        with:
          commit_message: "chore: bump script version by github actions"
          commit_options: "--signoff --no-verify"
          commit_user_name: github-actions[bot]
          commit_user_email: 41898282+github-actions[bot]@users.noreply.github.com
          commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
